@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Karantina:wght@300;400;700&display=swap');

body {
  font-family: 'Heebo', sans-serif; /* Set Heebo as the default font for the entire project */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  font-family: 'Karantina', cursive; /* Use Karantina font for titles */
}

.header {
  position: fixed; /* Fixed position at the top */
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure the header is above other content */
  background-color: white; /* Add background color to ensure text is readable */
}

.content {
  margin-top: 11vh; /* Start content 20vh down from the top */
  height: 100vh; /* Occupy 80% of the viewport height */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
  padding-left: 8vw; /* Add some padding on the sides */
  padding-right: 8vw;
  box-sizing: border-box; /* Ensure padding is included in the height calculation */
  padding-bottom: 25vw;
  overflow-x: hidden;
}

/* Ensure the decorative photo is behind all content */
.decorative-photo {
  position: fixed; /* Fixed positioning to keep it at the top-left corner */
  top: 0;
  left: 0;
  width: 35vw; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  z-index: -1; /* Ensure the decorative photo is below the rest of the content */
}

.blue-t {
  position: fixed; /* Fixed positioning to keep it at the bottom-right corner */
  bottom: 0;
  right: 0;
  width: 35vw; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  z-index: -1; /* Ensure the decorative photo is below the rest of the content */
  transform: rotate(180deg);
}
