/* src/CardDetails.css */
.card-details {
    width: 100%;
    max-width: 75vw;
    margin: 0 auto;
    padding: 2vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 1vh;
    background-color: #fff;
    direction: rtl;
    font-family: 'Heebo', sans-serif;
  }
  
  .card-details-photo {
    width: 45%;
    position: relative;
    right: 27%;
    height: auto;
    border-radius: 1vh 1vh 0 0;
    text-align: center;
  }
  
  .card-details-headline {
    color: #595959;
    font-size: 3vh;
    margin: 2vh 0 4vh;
    text-align: center;
  }
  
  .card-details-text {
    font-size: 2.5vh;
    margin-bottom: 8vh;
  }
  
  .card-details-video {
    width: 100%;
    height: auto;
    border-radius: 0 0 1vh 1vh;
  }
