.diagram-container {
  /* text-align: center;
  margin-top: 32vh;
  margin-left: 20vw;
  position: relative; */

  /* position: absolute;
  right: 50%;
  transform: translateX(50%); */

  position: relative;

}


.mivne {
  position: relative;
  height: auto;
  width: 19vw;
  top: 13vh;
  left: 40vw;
  /* right: 50%; */
  /* transform: translateX(50%); */
  /* margin-top: 20vh;*/
}

.diagram-title {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  margin-top: 16vh;
  font-family: 'Karantina', cursive;
  font-size: 14vw;
  color: #595959;
  margin-bottom: 5vh;
  width: 90vw;
  text-align: center;
}

.subtitle-diagram {
  font-family: 'Heebo', sans-serif;
  font-size: 6vw;
  color: grey;
  text-align: center;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  margin-top: 37vh;
  width: 88vw;
  direction: rtl;
}

.setup {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  width: 88vw;
  margin-top: -38vh;
  z-index: 3;
}

.hpArrow-diagram {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  width: 17vw;
  margin-top: 120vh;
}

.all-diagram {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  margin-top: 122vh;
}

.line {
  border-left: 2vw solid #595959;
  height: 177vh;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  z-index: 0;
  margin-top: 128vh;

  /* border-left: 2vw solid #595959;
  height: 171vh;
  position: relative;
  transform: translateX(48%);
  z-index: 0;
  margin-top: 123vh; */

}

.frame {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  width: 78vw;
  height: 9vh;
  background-color: #053859;
  border: 1.5vw solid #053859;
  padding-top: 1vh;
  padding-bottom: 1vh;
  z-index: 2;
  text-align: center;
}

.frame-text {
  font-family: 'Karantina', cursive;
  font-size: 13vw;
  margin: 0;
  color: rgb(255, 255, 255);
}

.black-frame {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  width: 65vw;
  height: 7vh;
  margin-top: 14vh;
  background-color: #175a85;
  border: 1.5vw solid #175a85;
  padding-top: 1vh;
  padding-bottom: 2vh;
  z-index: 2;
  text-align: center;
}

.black-frame-text {
  font-family: 'Karantina', cursive;
  font-size: 13vw;
  color: rgb(255, 255, 255);
  margin: 0;
}

.blue-frame {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  width: 60vw;
  height: 12vh;
  margin-top: 31vh;
  padding-top: 1vh;
  padding-bottom: 2vh;
  z-index: 2;
  text-align: center;
}

.blue-box {
  background-color: #1cb4e3;
  border: 1.5vw solid #1cb4e3;
  color: #ffffff;
}

.dotLine {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  height: 6vh;
  width: 42vw;
  margin-top: 55vh;
  background-color: transparent;
  color: #595959;
  font-size: 9vmin;
}

.orange-box {
  position: absolute;
  right: 94%;
  transform: translateX(50%);
  width: 35vw;
  height: 9vh;
  text-align: center;
  margin-top: 53vh;
  padding-top: 3vh;
  padding-bottom: 1vh;
  background-color: #ff9900;
  border: 1.5vw solid #ff9900;
  color: #ffffff;
}

.red-box {
  position: absolute;
  right: 5%;
  transform: translateX(50%);
  width: 35vw;
  height: 9vh;
  text-align: center;
  margin-top: 53vh;
  padding-top: 3vh;
  padding-bottom: 1vh;
  background-color: #e06666;
  border: 1.5vw solid #e06666;
  color: #ffffff;
}

.colored-box {
  width: 49vw;
  height: 11vh;
  margin-bottom: 6vw;
  font-size: 8%;
  cursor: pointer;
  text-align: center;
  color: white;
  position: relative;
  right: 50%;
  transform: translateX(50%);
  margin-top: 2vh;
}


.colored-box-text {
  font-family: 'Karantina', cursive;
  font-size: 11vw;
  margin: 0;
}

.colored-box-sub {
  margin-bottom: -122vw;
  font-size: 2vw;
  cursor: pointer;
  text-align: center;
  color: white;
  position: relative;
  right: 50%;
  transform: translateX(50%);
  background-color: #56c3e8;
  border: 1.5vw solid #56c3e8;
  margin-top: 72vh;
  width: 60vw;
  height: 12vh;
  padding-top: 1vh;
  padding-bottom: 2vh;
  z-index: 2;
  text-align: center;
}


.btn-print-diagram {
  position: relative;
  /* right: 50%; */
  /* transform: translateX(50%); */
  margin-top: 316vh;
  background-color: transparent;
  width: 56vw;
  height: 5vh;
  margin-bottom: 2vh;
  left: 22vw;
}

.print-img-diagram {
  position: relative;
  top: -0.5vh;
  left: 42vw;
  width: 7vw;
}

.text-print-diagram {
  position: relative;
  top: -7vh;
  left: 5vw;
  font-size: 4vmin;
  text-decoration: underline;
  color: #595959;
  font-weight: bold;
}