/* .diagram-container {
  position: relative;
}

.mivne {
  position: relative;
  height: auto;
  width: 19vw;
  top: 13vh;
  left: 40vw;

}

.diagram-title {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  margin-top: 16vh;
  font-family: 'Karantina', cursive;
  font-size: 14vw;
  color: #595959;
  margin-bottom: 5vh;
  width: 90vw;
  text-align: center;
}

.subtitle-diagram {
  font-family: 'Heebo', sans-serif;
  font-size: 6vw;
  color: grey;
  text-align: center;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  margin-top: 37vh;
  width: 88vw;
  direction: rtl;
}

.setup {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  width: 88vw;
  margin-top: -38vh;
  z-index: 3;
}

.hpArrow-diagram {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  width: 17vw;
  margin-top: 120vh;
}

.all-diagram {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  margin-top: 122vh;
}

.line {
  border-left: 2vw solid #595959;
  height: 177vh;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  z-index: 0;
  margin-top: 128vh;
}

.frame {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  width: 78vw;
  height: 9vh;
  background-color: #053859;
  border: 1.5vw solid #053859;
  padding-top: 1vh;
  padding-bottom: 1vh;
  z-index: 2;
  text-align: center;
}

.frame-text {
  font-family: 'Karantina', cursive;
  font-size: 13vw;
  margin: 0;
  color: rgb(255, 255, 255);
}

.black-frame {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  width: 65vw;
  height: 7vh;
  margin-top: 14vh;
  background-color: #175a85;
  border: 1.5vw solid #175a85;
  padding-top: 1vh;
  padding-bottom: 2vh;
  z-index: 2;
  text-align: center;
}

.black-frame-text {
  font-family: 'Karantina', cursive;
  font-size: 13vw;
  color: rgb(255, 255, 255);
  margin: 0;
}

.blue-frame {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  width: 60vw;
  height: 12vh;
  margin-top: 31vh;
  padding-top: 1vh;
  padding-bottom: 2vh;
  z-index: 2;
  text-align: center;
}

.blue-box {
  background-color: #1cb4e3;
  border: 1.5vw solid #1cb4e3;
  color: #ffffff;
}

.dotLine {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  height: 6vh;
  width: 42vw;
  margin-top: 55vh;
  background-color: transparent;
  color: #595959;
  font-size: 9vmin;
}

.orange-box {
  position: absolute;
  right: 94%;
  transform: translateX(50%);
  width: 35vw;
  height: 9vh;
  text-align: center;
  margin-top: 53vh;
  padding-top: 3vh;
  padding-bottom: 1vh;
  background-color: #ff9900;
  border: 1.5vw solid #ff9900;
  color: #ffffff;
}

.red-box {
  position: absolute;
  right: 5%;
  transform: translateX(50%);
  width: 35vw;
  height: 9vh;
  text-align: center;
  margin-top: 53vh;
  padding-top: 3vh;
  padding-bottom: 1vh;
  background-color: #e06666;
  border: 1.5vw solid #e06666;
  color: #ffffff;
}

.colored-box {
  width: 49vw;
  height: 11vh;
  margin-bottom: 6vw;
  font-size: 8%;
  cursor: pointer;
  text-align: center;
  color: white;
  position: relative;
  right: 50%;
  transform: translateX(50%);
  margin-top: 2vh;
}


.colored-box-text {
  font-family: 'Karantina', cursive;
  font-size: 11vw;
  margin: 0;
}

.colored-box-sub {
  margin-bottom: -122vw;
  font-size: 2vw;
  cursor: pointer;
  text-align: center;
  color: white;
  position: relative;
  right: 50%;
  transform: translateX(50%);
  background-color: #56c3e8;
  border: 1.5vw solid #56c3e8;
  margin-top: 72vh;
  width: 60vw;
  height: 12vh;
  padding-top: 1vh;
  padding-bottom: 2vh;
  z-index: 2;
  text-align: center;
}


.btn-print-diagram {
  position: relative;
  margin-top: 316vh;
  background-color: transparent;
  width: 56vw;
  height: 5vh;
  margin-bottom: 2vh;
  left: 22vw;
}

.print-img-diagram {
  position: relative;
  top: -0.5vh;
  left: 42vw;
  width: 7vw;
}

.text-print-diagram {
  position: relative;
  top: -7vh;
  left: 5vw;
  font-size: 4vmin;
  text-decoration: underline;
  color: #595959;
  font-weight: bold;
} */

.mivne {
  position: absolute;
  width: 19vw;
  height: auto;
  right: 50%;
  transform: translateX(50%);
  margin-top: 10vh;
}

.diagram-title {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  font-family: 'Karantina', cursive;
  font-size: 14vw;
  color: #595959;
  width: 90vw;
  text-align: center;
  margin-top: 19vh;

}

.subtitle-diagram {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  text-align: center;
  font-family: 'Heebo', sans-serif;
  font-size: 6vw;
  color: grey;
  width: 88vw;
  direction: rtl;
  margin-top: 35vh;
}

.setup {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  width: 88vw;
  margin-top: -38vh;
  z-index: 3;
}

.hpArrow-diagram {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  width: 17vw;
  margin-top: 108vh;
}

.all-diagram {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  width: 100vw;
  margin-top: 301vh;
}

.line {
  border-left: 2vw solid #595959;
  position: absolute;
  height: 180vh;
  /* margin-top: 1vh; */
  left: 49vw;
  z-index: 0;
  top: -176vh;
}

.frame {
  width: 80vw;
  height: 9vh;
  background-color: #053859;
  border: 1.5vw solid #053859;
  padding-top: 1vh;
  padding-bottom: 1vh;
  z-index: 2;
  text-align: center;
  position: relative;
  margin-top: -180vh;
  transform: translateX(70%);
  right: 50%;
}

.frame-text {
  font-family: 'Karantina', cursive;
  font-size: 13vw;
  margin: 0;
  color: rgb(255, 255, 255);
}

.black-frame{
  width: 65vw;
  height: 7vh;
  margin-top: 14vh;
  background-color: #175a85;
  border: 1.5vw solid #175a85;
  padding-top: 1vh;
  padding-bottom: 2vh;
  z-index: 2;
  text-align: center;
  position: relative;
  transform: translateX(95%);
  right: 50%;
  margin-top: 5vh;
}

.blue-frame {
  position: relative;
  right: 50%;
  transform: translateX(109%);
  width: 60vw;
  height: 12vh;
  margin-top: 6vh;
  padding-top: 1vh;
  padding-bottom: 2vh;
  z-index: 2;
  text-align: center;
}

.blue-box {
  background-color: #56c3e8;
  border: 1.5vw solid #56c3e8;
  color: #ffffff;
}

.colored-box-text{
  font-family: 'Karantina', cursive;
  font-size: 11vw;
  margin: 0;
  color: #ffffff;
}

.orange-box {
  position: relative;
  right: 50%;
  transform: translateX(144%);
  width: 35vw;
  height: 8vh;
  text-align: center;
  margin-top: 1vh;
  padding-top: 2vh;
  padding-bottom: 1vh;
  background-color: #ff9900;
  border: 1.5vw solid #ff9900;
  color: #ffffff;
}

.red-box {
  position: relative;
  right: 50%;
  transform: translateX(285%);
  width: 35vw;
  height: 8vh;
  text-align: center;
  margin-top: -12.5vh;
  padding-top: 2vh;
  padding-bottom: 1vh;
  background-color: #e06666;
  border: 1.5vw solid #e06666;
  color: #ffffff;
}

.dotLine {
  position: relative;
  right: 50%;
  transform: translateX(197%);
  height: 6vh;
  width: 42vw;
  background-color: transparent;
  color: #595959;
  font-size: 9vmin;
  top: 8vh;
}

.colored-box-sub {
  font-size: 2vw;
  cursor: pointer;
  text-align: center;
  color: white;
  position: relative;
  right: 50%;
  transform: translateX(111%);
  background-color: #56c3e8;
  border: 1.5vw solid #56c3e8;
  width: 60vw;
  height: 12vh;
  padding-top: 0vh;
  padding-bottom: 2vh;
  z-index: 2;
  text-align: center;
  top: 4vh;
  margin-bottom: 4vh;
}

.btn-print-diagram {
  position: absolute;
  margin-top: 315vh;
  background-color: transparent;
  width: 56vw;
  height: 5vh;
  margin-bottom: 2vh;
  left: 22vw;
}

.print-img-diagram {
  position: relative;
  top: -0.75vh;
  left: 43vw;
  width: 7vw;
}

.text-print-diagram {
  position: relative;
  top: -7vh;
  left: 5vw;
  font-size: 4vmin;
  text-decoration: underline;
  color: #595959;
  font-weight: bold;
} 
