.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2vw;
  padding: 2vh;
  margin-top: 12vh; /* Move the content down by 12vh */
  position: relative; /* Ensure relative positioning for the decorative photo */
}



.card-navigation-container {
  width: 100%;
  max-width: 60vw;
  margin: 0 auto;
  padding: 2vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 1vh;
  background-color: #fff;
}

.navigation-buttons {
  margin-top: 2vh;
}

.navigation-buttons button {
  margin: 0 1vw;
  padding: 1vh 2vw;
  font-size: 2vh;
  cursor: pointer;
  border: none;
  border-radius: 1vh;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s ease;
}

.navigation-buttons button:hover {
  background-color: #0056b3;
}

.navigation-buttons button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.arrow, .arrow-left {
  height: 10vh;
  width: auto;
}


.arrow-left {
  transform: scaleX(-1);
}