.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2vw;
  padding: 2vh;
  margin-top: 12vh;
  /* Move the content down by 12vh */
  position: relative;
  /* Ensure relative positioning for the decorative photo */
  padding-bottom: 25vw;
}

.gallery-subtitle {
  font-family: 'Heebo', sans-serif;
  font-size: 5vw;
  color: grey;
  text-align: center;
  margin-bottom: 2vw;
  margin-top: 0;
  width: 97%;
  position: relative;
  left: 2vw;
}

.Gallery-title {
  position: relative;
  top: -3vh;
  left: 1vw;
  text-align: center;
  font-family: 'Karantina', cursive;
  font-size: 14vw;
  color: #595959;
  margin-bottom: 5vh;
}

.table-gallery {
  position: relative;
    width: 93vw;
    top: 4vh;
    left: 0vw;
}

.hpArrow-gallery {
  position: relative;
  top: 4vh;
  width: 29vw;
  display: block;
  width: 17vw;
  left: 38vw;
  margin-bottom: -9vh;
}

.card-navigation-container {
  width: 100%;
  max-width: 60vw;
  margin: 0 auto;
  padding: 2vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 1vh;
  background-color: #fff;
}

.navigation-buttons {
  margin-top: 2vh;
}

.navigation-buttons button {
  margin: 0 1vw;
  padding: 1vh 2vw;
  font-size: 2vh;
  cursor: pointer;
  border: none;
  border-radius: 1vh;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s ease;
}

.navigation-buttons button:hover {
  background-color: #0056b3;
}

.navigation-buttons button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* .arrow, .arrow-left {
  height: 10vh;
  width: auto;
}


.arrow-left {
  transform: scaleX(-1);
} */

.arrowDiv {
  background-color: #1cb4e3;
  color: white;
  position: relative;
  left: 24vw;
  width: 38vw;
  height: 3vh;
  top: -1vh;
  padding: 1vh;
  text-align: center;
  font-size: 4vmin;
  font-weight: bold;
  border-radius: 15vw;
}

.arrowDivLeft {
  background-color: #b7b7b7;
  left: -19vw;
  top: -6vh;
}

.prev-btn-gallery {
  color: #1cb4e3;
  position: relative;
  left: 1vw;
  top: -5vh;
  text-decoration: underline;
  font-size: 6vmin;
  margin-bottom: -10vh;
  margin-top: 3vh;
}

.btn-print-gallery{
  position: relative;
  top: 20vh;
  left: 2vw;
  background-color: transparent;
  width: 56vw;
  height: 5vh;
  margin-bottom: 8vh;
}

.print-img-gallery{
  position: relative;
  top: 0.5vh;
  left: 42vw;
  width: 7vw;
}

.text-print{
  position: relative;
  top: -6vh;
  left: 5vw;
  font-size: 4vmin;
  text-decoration: underline;
  color: #595959;
  font-weight: bold;
}