.home-container {
  padding-top: 40vh; /* Add padding to ensure content starts below the header */
  padding-left: 8vw; /* Add some padding on the sides */
  padding-right: 8vw;
  color: white; /* Set text color to white */
}

.title {
  font-family: 'Karantina', cursive; /* Use Karantina font */
  font-size: 16vw; /* Adjust font size as needed */
  color: #50565c; /* Dark blue color */
  margin-bottom: 3vw; /* Adjusted to make room for the subtitle */
  width: 100%; /* Make the title take up full width */
  text-align: center; /* Center the title */
  
}

.subtitle {
  font-family: 'Heebo', sans-serif; /* Use Heebo font */
  font-size: 5vw; /* Adjust font size as needed */
  color: grey; /* Set text color to grey */
  text-align: center; /* Center the subtitle */
  margin-bottom: 6vh; /* Add some space between subtitle and list items */
  margin-top: 6vh;
  width: 100%; /* Make the subtitle take up full width */
}

.photo-list {
  display: flex;
  flex-direction: column;
  gap: 3vh; /* Adjust the space between items */
}

.photo-list-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 2.5vh; /* Adjust the font size */
  border-bottom: 1px solid #ccc; /* Separation line */
  padding-bottom: 1vh; /* Adjust space at the bottom */
}

.photo-list-item:last-child {
  border-bottom: none; /* Remove border from the last item */
}

.photo-list-content {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.photo-list-image-homepage {
  width: 17vw;
    height: auto;
    margin-left: 7vw;
    padding-top: 3vh;;
}

.photo-list-title-homepage {
  flex-grow: 1;
  text-align: right;
  padding-left :8vw ;
  font-size: 3vh; /* Adjust the font size */
  color: #000000; /* Adjust the color as needed */
  font-weight: bolder;
}

.homePageLogos {
  height: auto;
  margin-left: 11vw;
  padding-top: 4vh;
  width: 58vw;
}