.home-container {
  padding-top: 40vh;
  /* Add padding to ensure content starts below the header */
  padding-left: 8vw;
  /* Add some padding on the sides */
  padding-right: 8vw;
  color: white;
  /* Set text color to white */
  padding-bottom: 25vw;
  font-family: 'Heebo', sans-serif;
}

.mini-headline {
  font-size: 5vw;
  color: rgb(0, 191, 255);
  text-align: center;
  margin-bottom: -5vw;
  padding-top: 8vh;
}

.title {
  position: absolute;
  right:50% ;
  transform: translateX(50%);
  font-family: 'Karantina';
  font-size: 16vw;
  color: #50565c;
  margin-bottom: 3vw;
  margin-top: 6vh;
  width: 100%;
  text-align: center;
}

.subtitle {
  font-family: 'Heebo', sans-serif;
  font-size: 7vw;
  color: grey;
  text-align: center;
  margin-bottom: 6vh;
  margin-top: 2vh;
  width: 100%;
}

.subtitle2{
  font-family: 'Heebo', sans-serif;
  font-size: 5vw;
  color: grey;
  text-align: center;
  position: absolute;
  margin-top: 144vh;
  right: 50%;
  transform: translateX(50%);
  width: 95vw;
}

/* .photo-list {
  display: flex;
  flex-direction: column;
  gap: 3vh;
} */



.photo-list-item {
 
  align-items: center;
  cursor: pointer;
  font-size: 2.5vh;
  padding-bottom: 1vh;
}

.photo-list-item:last-child {
  border-bottom: none;
  /* Remove border from the last item */
}

.photo-list-content {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.photo-list-image-homepage {
  width: 17vw;
  height: auto;
  
}

.photo-list-title-homepage {
  flex-grow: 1;
  text-align: right;
  font-size: 3vh;
  color: #50565c;
  font-weight: bolder;
  padding-right: 5%;
}

.homePageLogos {
  height: auto;
  width: 58vw;
  position: absolute;
  margin-top: 125vh;
  right: 50%;
  transform: translateX(50%);
}

.div-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 40vh;
  right: 50%;
  width: 80vw;
  transform: translateX(50%);
}

.hpArrow {
  position: absolute;
  height: auto;
  transform: translateX(50%);
  margin-top: 28vh;
  right: 50%;
  width: 17vw;
}

.date {
  position:absolute;
  font-size: 3vh;
  color: #50565c;
  font-weight: bolder;
  margin-top: 163vh;
  right: 50%;
  transform: translateX(50%);
  padding-bottom: 10%;
}

.dot-line {
  position: relative;
  right: 50%;
  transform: translateX(50%);
  margin-bottom: 2vh;
  padding-bottom: -2vh;
}

#hpArrow2 {
  position: absolute;
  height: auto;
  transform: translateX(50%);
  margin-top: 114vh;
  right: 50%;
  width: 17vw;
}

/* #icon-des{
  width: 16vw;
} */

#line5{
  position: absolute;
  margin-top: 155vh;
  padding-top: 5%;
  padding-bottom: 5%;
}

.mashov-home{
  font-family: 'Heebo', sans-serif;
  font-size: 4vw;
  color: #50565c;
  text-align: center;
  position: absolute;
  margin-top: 175vh;
  right: 50%;
  transform: translateX(50%);
  width: 67vw;
}

.mashovText{
  margin-bottom: 4vh;
}

#linkHome{
  color: #50565c;
}
