.sub-Interfaces {
    font-family: 'Heebo', sans-serif;
    font-size: 5vmin;
    color: grey;
    text-align: center;
    margin-top: 12vh;
    width: 90%;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    direction: rtl;
  }


.Interfaces-contect{
    font-family: 'Heebo', sans-serif;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    direction: rtl;
    margin-top: 13vh;
    /* overflow-y: auto; */
    height: 34vh;
}

.title-Interfaces{
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    width: 100vw;
    height: 6vh;
    background-color: #b7b7b7;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 2vh;
    font-size: 5vmin;
    margin-top: 5vh;
}

.text-Interfaces{
    width: 93vw;
    height: 20vh;
    background-color: #e9e9e9;
    color: #000000;
    margin-bottom: 1vh;
    padding-right: 2vh;
    margin-top: 9vh;
    padding-left: 2vh;
    padding-top: 6vh;
}

.btn-div{
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    display: flex;
    margin-top: 86vh;
}

.btn-Interfaces{
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 2vh;
    font-family: 'Heebo', sans-serif;
    height: 6vh;
    width: 40vw;
    border-radius: 8vw;
    margin-right: 2vh;
    margin-bottom: 4vh;
}

#next-btn-Interfaces{
    background-color: #1cb4e3;
}

#prev-btn-Interfaces{
    background-color: #999;
}