
.Interfaces-contect-target{
    font-family: 'Heebo', sans-serif;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    direction: rtl;
    margin-top: 12vh;
    /* overflow-y: auto; */
    height: 34vh;
}

.title-InterfacesTarget{
    font-family: 'Karantina';
    color: #595959;
    font-size: 13vw;
    margin-bottom: 3vw;
    margin-top: -18vh;
    width: 92%;
    text-align: center;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    transition: color 0.3s;
    font-weight: normal;
}

.suTtitle-Interfaces{
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    width: 100vw;
    height: 6vh;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 2vh;
    font-size: 5vmin;
    margin-top: 3vh;
}

.text-interfaces-target{
    width: 95vw;
    height: 35vh;
    background-color: #e9e9e9;
    color: #000000;
    margin-bottom: 1vh;
    padding-right: 2vh;
    margin-top: 9vh;
    padding-left: 2vh;
    padding-top: 3vh;
}

.btn-div-target{
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    display: flex;
    margin-top: 63vh;
}

.btn-Interfaces{
    font-family: 'Heebo', sans-serif;
    margin-right: 2vh;
    margin-bottom: 4vh; 
    color: white;
    position: relative;
    /* left: 24vw; */
    width: 38vw;
    height: 3vh;
    /* top: -1vh; */
    padding: 1vh;
    text-align: center;
    font-size: 4vmin;
    font-weight: bold;
    border-radius: 15vw;
}

#next-btn-Interfaces{
    background-color: #595959;
}

#prev-btn-Interfaces{
    background-color: #eee;
}

.btnBackToStep1{
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    margin-top: 72vh;
}

#stpe1btn{
    color: #56c3e8;
    font-size: 5vw;
    text-align: center;
    text-decoration: underline;
    font-family: 'Heebo', sans-serif;
    margin-bottom: 3vh;
}


#btn-print-target2 {
    position: absolute;
    right: 48%;
    transform: translateX(50%);
    background-color: transparent;
    width: 56vw;
    height: 5vh;
    margin-top: 80vh;
  }

  .targetPrintDiv {
    height: 8vh;
  }
  
