.ogen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 33vw;
  /* Adjust the margin-top */
  padding: 2vw;
  padding-bottom: 25vw;
  /* Add bottom padding */
  color: white;
  font-family: 'Assistant', sans-serif;
  /* Use the Assistant font */
}

.ogenIcon {
  width: 20vw;
  position: relative;
  top: -3vh;
}

.ogen-title1 {
  font-family: 'Karantina';
  font-size: 14vw;
  color: #595959;
  margin-bottom: 2vw;
  margin-top: 0;
}

.ogen-subtitle1 {
  font-family: 'Heebo', sans-serif;
  font-size: 5vw;
  color: grey;
  text-align: center;
  margin-bottom: 5vw;
  width: 113vw;
  margin-top: 3vh;
  width: 80%;
}

.hpArrow-Ogen{
  display: block;
  width: 17vw;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  margin-top: -130vh;
  margin-bottom: 1vh;
}

.ogen-title2 {
  font-family: 'Karantina', cursive;
  font-size: 11vw;
  color: black;
  margin-bottom: 2vw;
  margin-top: 103px;
}

.ogen-subtitle2 {
  font-family: 'Heebo', sans-serif;
  font-size: 4vw;
  color: grey;
  text-align: center;
  margin-bottom: 7vw;
  margin-top: 7px;
  width: 80%;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
  width: 100%;
  margin-top: 22vh;
  margin-bottom: -9vh;
}

.image-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(20% - 2vw);
  /* Two images per row */
  box-sizing: border-box;
  padding: 2vw;
}

.ogen-image {
  width: 80%;
  height: auto;
  border-radius: 1vh;
  margin-bottom: 1vh;
}

.image-title {
  font-family: 'Heebo', sans-serif;
  font-size: 3vw;
  color: #505050;
  text-align: center;
  margin: 0.5vh 0;
}

.image-text {
  font-family: 'Heebo', sans-serif;
  font-size: 7vw;
  color: grey;
  text-align: center;
  margin: 0 0 2vh;
}

.video-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

.ogen-video {
  width: 80%;
  height: auto;
  max-width: 80vw;
  /* Adjust the width as needed */
}

/* Responsive design */
@media (max-width: 850px) {
  .image-item {
    width: 48%;
    /* Full width on smaller screens */
  }

  .ogen-title {
    font-size: 13vw;
    text-align: center;
  }

  .ogen-subtitle {
    font-size: 6vw;
  }

  .image-title {
    font-size: 6vw;
  }

  .image-text {
    font-size: 3.5vw;
  }
}

#image-text-10 {
  position: relative;
  top: 2vh;
}


/* .btn-print-ogen {
  position: relative;
  top: 20vh;
  left: 2vw;
  background-color: transparent;
  width: 56vw;
  height: 5vh;
  margin-bottom: 8vh;
}

.print-img-ogen {
  position: relative;
  top: 0vh;
  left: 39vw;
  width: 7vw;
} */