.ogen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 21vw; /* Adjust the margin-top */
    padding: 2vw;
    color: white;
    font-family: 'Assistant', sans-serif; /* Use the Assistant font */
  }
  
  .ogen-title {
    font-family: 'Karantina', cursive;
    font-size: 9vw;
    color: #000000;
    margin-bottom: 2vw;
    margin-top: 0; /* Remove the bottom margin and add top margin */
  }
  
  .ogen-subtitle {
    font-family: 'Heebo', sans-serif;
    font-size: 4vw;
    color: grey;
    text-align: center;
    margin-bottom: 2vw;
    margin-top: 0; /* Remove the bottom margin and add top margin */
    width: 80%;
  }
  
  .image-container {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping */
    justify-content: center;
    gap: 2vw; /* Space between images */
    width: 100%;
  }
  
  .image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(20% - 2vw); /* Two images per row */
    box-sizing: border-box;
    padding: 2vw;
  }
  
  .ogen-image {
    width: 80%;
    height: auto;
    border-radius: 1vh;
    margin-bottom: 1vh;
  }
  
  .image-title {
    font-family: 'Heebo', sans-serif;
    font-size: 3vw;
    color: #505050;
    text-align: center;
    margin: 0.5vh 0;
  }
  
  .image-text {
    font-family: 'Heebo', sans-serif;
    font-size: 7vw;
    color: grey;
    text-align: center;
    margin: 0 0 2vh;
  }
  
  .video-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2vh;
  }
  
  .ogen-video {
    width: 80%;
    height: auto;
    max-width: 80vw; /* Adjust the width as needed */
  }
  
  /* Responsive design */
  @media (max-width: 850px) {
    .image-item {
      width: 48%; /* Full width on smaller screens */
    }
  
    .ogen-title {
      font-size: 10vw;
    }
  
    .ogen-subtitle {
      font-size: 4vw;
    }
  
    .image-title {
      font-size: 6vw;
    }
  
    .image-text {
      font-size: 3.5vw;
    }
  }
  