.title-page1 {
  font-family: 'Karantina', cursive;
  font-size: 16vw;
  margin-bottom: 3vw;
  margin-top: 32vh;
  width: 100%;
  text-align: center;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  transition: color 0.3s;
}

.all-steps {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  margin-bottom: 4vh;
  display: flex;
  width: 71vw;
  justify-content: center;
  direction: rtl;
  margin-top: 21vh;
}

.btn-steps {
  width: 14vh;
  height: 4vh;
  margin-right: 1vw;
  margin-left: 0vw;
  padding-top: 1vh;
  text-align: center;
  font-family: 'Heebo', sans-serif;
  color: white;
  transition: background-color 0.3s;
  font-weight: bold;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid rgb(86, 195, 232);
  position: relative;
  top: 0vh;
  right: 8vw;
}

.photo-mimshak{
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  width: 19vw;
  margin-top: 10vh;
  z-index: 10000;
}

.content-page1 {
  height: 52vh;
  /* overflow-y: auto; */
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  width: 100%;
  margin-top: 40vh;
}

.text-page1 {
  font-family: 'Heebo', sans-serif;
  font-size: 5vmin;
  color: grey;
  text-align: center;
  margin-top: 2vh;
  width: 90%;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  direction: rtl;
}

.all-opotion {
  font-family: 'Heebo', sans-serif;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  text-align: center;
  color: #595959;
  margin-top: 12vh;
}

.array-item {
  height: 6vh;
  width: 85vw;
  background-color: #d9d9d9;
  margin-top: 2vh;
  padding-top: 1.5vh;
  font-size: 5vmin;
  cursor: pointer; /* Add pointer cursor on hover */
  margin-bottom: 3vh;
}



.sub-text-relations{
  font-family: 'Heebo', sans-serif;
  font-size: 5vmin;
  color: grey;
  text-align: center;
  margin-top: 29vh;
  width: 90%;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  direction: rtl;
}   
















/* @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Karantina:wght@300;400;700&display=swap');

.relations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20vh;
  padding-left: 3vw;
  padding-right: 3vw;
  font-family: 'Heebo', sans-serif;
  color: #333;
  padding-bottom: 25vw; 
}

.relations-title {
  font-family: 'Karantina', cursive;
  font-size: 11vw;
  color: #175a85;
  margin-bottom: 2vw;
  margin-top: 0; 
}

.relations-subtitle {
  font-family: 'Heebo', sans-serif;
  font-size: 4vw;
  color: grey;
  text-align: center;
  margin-bottom: 2vw;
  margin-top: 0; 
  width: 80%;
}

.colored-box-relations {
  font-family: 'Karantina', cursive;
  width: 35vw;
  height: 11vh;
  margin: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8vw;
  cursor: pointer;
  text-align: center;
  color: white;
  position: relative;
}

.boxes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.colored-box.selected {
  background-color: grey;
  color: #fff;
  cursor: default;
}

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4vh;
}

.box-detail {
  background-color: #fff;
  padding: 2vw;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 2vh;
}

.box-detail-title {
  font-size: 3vw;
  font-weight: bold;
  margin-bottom: 1vh;
}

.box-detail-definition {
  font-size: 2vw;
  text-align: justify;
}

.forward-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.forward-button {
  padding: 1vw 2vw;
  font-size: 2vw;
  cursor: pointer;
  background-color: #0c3f72;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 2vh;
}

.forward-button:hover {
  background-color: #094d95;
}

.combined-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4vh;
}

.combined-detail {
  background-color: #f0f0f0;
  padding: 2vw;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 2vh;
}

.combined-detail-title {
  font-size: 2.5vw;
  font-weight: bold;
  margin-bottom: 1vh;
}

.combined-detail-content {
  font-size: 2vw;
  text-align: justify;
}
 */
