@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Karantina:wght@300;400;700&display=swap');

.relations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vw;
  font-family: 'Heebo', sans-serif;
  color: #333;
}

.relations-title {
  font-family: 'Karantina', cursive;
  font-size: 4vw;
  color: #0c3f72;
  margin-bottom: 2vh;
}

.relations-subtitle {
  font-size: 2vw;
  color: grey;
  text-align: center;
  margin-bottom: 4vh;
}

.boxes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.colored-box {
  width: 30vw;
  height: 15vh;
  margin: 1vw;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  color: white;
}

.colored-box.selected {
  background-color: grey;
  cursor: default;
}

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4vh;
}

.box-detail {
  background-color: #fff;
  padding: 2vw;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 2vh;
}

.box-detail-title {
  font-size: 3vw;
  font-weight: bold;
  margin-bottom: 1vh;
}

.box-detail-definition {
  font-size: 2vw;
  text-align: justify;
}

.forward-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.forward-button {
  padding: 1vw 2vw;
  font-size: 2vw;
  cursor: pointer;
  background-color: #0c3f72;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 2vh;
}

.forward-button:hover {
  background-color: #094d95;
}

.combined-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4vh;
}

.combined-detail {
  background-color: #f0f0f0;
  padding: 2vw;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 2vh;
}

.combined-detail-title {
  font-size: 2.5vw;
  font-weight: bold;
  margin-bottom: 1vh;
}

.combined-detail-content {
  font-size: 2vw;
  text-align: justify;
}

@media (max-width: 768px) {
  .colored-box {
    width: 80vw;
    height: 10vh;
    font-size: 4vw;
    margin: 4vw;
  }

  .relations-title {
    font-size: 6vw;
  }

  .relations-subtitle {
    font-size: 4vw;
  }

  .box-detail-title {
    font-size: 4vw;
  }

  .box-detail-definition {
    font-size: 3vw;
  }

  .forward-button {
    font-size: 4vw;
    padding: 2vw 4vw;
  }

  .combined-detail-title {
    font-size: 4vw;
  }

  .combined-detail-content {
    font-size: 3vw;
  }
}
